
.image-left {
    position: absolute;
    z-index: 1;
    margin-top: 15%;
    margin-left: -25%;
    max-width: 100%;
}

.test {
    width: 100%;
}

.image-right {
    position: absolute;
    z-index: 2;
    margin-left: 40%;
    margin-top: -5%;
    max-width: 100%;
}

.image-bottom {
    position: absolute;
    z-index: 3;
    margin-left: 10%;
    margin-top: 55%;
    max-width: 100%;
}

.wrapper {
    transform: translate(0px, 0);
    transition: transform .8s ease;
}
.wrapper:hover {
    transform: scale(1.1);
}

.jt {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
}

.center {
    position: absolute;
  top: 8px;
  left: 16px;
}

.wide {
    width: 100%;
}