
.image-left {
    position: absolute;
    z-index: 1;
    margin-top: 15%;
    margin-left: -25%;
    max-width: 100%;
}

.image-right {
    position: absolute;
    z-index: 2;
    margin-left: 40%;
    margin-top: -5%;
    max-width: 100%;
}

.image-bottom {
    position: absolute;
    z-index: 3;
    margin-left: 10%;
    margin-top: 55%;
    max-width: 100%;
}